# Front End Ignore Files
GUI/node_modules
GUI/dist
GUI/package-lock.json
GUI_Vue3/node_modules
GUI_Vue3/dist
GUI_Vue3/package-lock.json

# Java Ignore Files
Rest Service/target/
Rest Service/src/main/resources/static/
Rest Service/.classpath
Rest Service/.project
Rest Service/.settings
Rest Service/HELP.md
Rest Service/src/main/resources/application-dev.properties

# Docker Ignore Files
Docker/mysql_data
Docker/service/*.war
Docker/.env
Docker/init_sql/create_user.sql

