# Front End Ignore File
GUI/node_modules
GUI/dist

# Java Ignore Files
Rest Service/target/
Rest Service/src/main/resources/static/
Rest Service/.classpath
Rest Service/.project
Rest Service/.settings
Rest Service/HELP.md