# Front End Ignore Files
GUI/node_modules
GUI/dist

# Java Ignore Files
Rest Service/target/
Rest Service/src/main/resources/static/
Rest Service/.classpath
Rest Service/.project
Rest Service/.settings
Rest Service/HELP.md

# Docker Ignore Files
Docker/mysql_data
Docker/service/xiushui_website-0.0.1-SNAPSHOT.war
Docker/.env
Docker/init_sql/create_user.sql
